<%- include('header') %>
      <h2>Overview</h2>
      <ul class="list-group">
        <li class="list-group-item">Departments: <%= departments.length %></li>
        <li class="list-group-item">Courses: <%= courses.length %></li>
        <li class="list-group-item">Students: <%= students.length %></li>
      </ul>
    </div>
  </body>
</html>
