.card {
    width: 18rem;
    border: 2px solid white;
    margin:15px;
}
.card:hover {
    transform: scale(1.1);
    transition: all 300ms;
}
.card img {
    width: 100%;
}
.card p {
    text-align: start;

}